<h2>Create new gallery</h2>

<form #galleryForm="ngForm" (ngSubmit)="createGallery(newGallery); galleryForm.reset()">
  <div class="form-group">
    <label>Name</label>
    <input #name="ngModel" [(ngModel)]="newGallery.name" class="form-control" type="text" name="name" required minlength="2" maxlength="255">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name must be at least 2 characters long.
      </div>
      <div *ngIf="name.errors.maxlength">
        Name can't be longer than 255 characters.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea #description="ngModel" [(ngModel)]="newGallery.description" class="form-control" rows="4" cols="50" name="description" required maxlength="10"></textarea>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="description.errors.maxlength">
        Description can't be longer than 1000 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
  <label>Url image</label>
  <input #imageUrl="ngModel" [(ngModel)]="newGallery.imageUrl" class="form-control "type="text" name="imageUrl" required>
   <button type="button" class="btn btn-primary">Add another url image</button>

    </div>
 <!-- <button type="button" class="btn btn-primary"
          (click)=""
          [disabled]="galleryForm.form.valid"
  >Cancel</button>-->
  <button type="submit" class="btn btn-primary"
          [disabled]="!galleryForm.form.valid"
  >Add Gallery</button>
</form>