<h2>All Galleries</h2>

<div class="album text-muted">
    <div class="container">

        <div class="row">
            <div class="card"  *ngFor="let gallery of galleries">
                <p class="card-text">{{ gallery.name }}</p>
                <img data-src="{{ gallery.images[0].imageUrl }}" height="280" width="356" alt="Card image cap">
                <p class="card-text">{{ gallery.description }}</p>
                <p class="card-text">{{ gallery.user.first_name }} {{ gallery.user.last_name }}</p>
                <p class="card-text">{{ gallery.created_at }}</p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<!--
<table class="table table-striped">
    <thead>
    <tr>
        <th>User name</th>
        <th>Name gallery</th>
        <th>Image</th>
        <th>Description</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gallery of galleries">
        <td class="align-middle">{{ gallery.user.first_name }}</td>
        <td class="align-middle">{{ gallery.name }}</td>
        <td class="align-middle">{{ gallery.images[0].imageUrl }}</td>
        <td class="align-middle">{{ gallery.description }}</td>
    </tr>
</table>


<div class="container">
<div *ngFor="let gallery of galleries" class="row">
<div class="card" style="width: 20rem;"class="col-6">
    <img class="card-img-top" src= "{{ gallery.images[0].imageUrl }}" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{ gallery.name }}</h4>
        <p class="card-text">{{ gallery.description }}</p>
        <p class="card-text">{{ gallery.user.first_name }} {{ gallery.user.last_name }}</p>
        <p class="card-text">{{ gallery.created_at }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</div>
</div>
class="col-sm-8 py-4"
-->

