<h2>All Galleries</h2>

<div class="container">
    <div class="row">
        <div class="card" style="width: 20rem;"class="col-4" *ngFor="let gallery of galleries" >
            <img class="card-img-top" src= "{{ gallery.images[0].imageUrl }}" alt="Card image cap">
            <div class="card-body">
                <h2>{{ gallery.name }}</h2>
                <p class="card-text">{{ gallery.description }}</p>
                <a [routerLink]="['/users/galleries', gallery.user.id]"> <p class="card-text">{{ gallery.user.first_name }} {{ gallery.user.last_name }}</p></a>
                <p class="card-text">{{ gallery.created_at }}</p>
                <button type="button" class="btn btn-primary" (click)="viewGallery(gallery.id)">View Gallery</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="loadMore()">Load more</button>
</div>

<router-outlet></router-outlet>

